<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>reservation</servlet-name>
        <servlet-class>com.mycompany.soitamme.Reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadcal</servlet-name>
        <servlet-class>com.mycompany.soitamme.LoadCal</servlet-class>
        <init-param>
        <param-name>readonly</param-name>
        <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>reservation</servlet-name>
        <url-pattern>/bands/reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadcal</servlet-name>
        <url-pattern>/loadcal</url-pattern>
        <http-method>POST</http-method>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
